body{
    background-color: #247976;
}

.overlay__header{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.overlay__header-heading{
    letter-spacing: .3em;
    margin-right: 7em;
}
.overlay__header-button>button{
    width: 6em;
    height: 2.5em;
    display: flex;
    justify-content: flex-start;
    margin-right: 2em;
    background-color: #F59F42 !important;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    align-items: center;
    padding: 0;
    color: #fff;
    
}

.overlay__header-button>button::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
    margin-right: 10px;
  }

.flashcardsOverlay{

    max-width: 800px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
